/* line 17, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Users/KumaHeika/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/all.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 21, ../sass/all.sass */
body {
  background-image: url("../images/bg.png");
}

/* line 23, ../sass/all.sass */
a {
  color: white;
}
/* line 25, ../sass/all.sass */
a:hover {
  color: bisque;
}

/* line 27, ../sass/all.sass */
p {
  color: #444444;
  line-height: 1.5em;
}

/* line 33, ../sass/all.sass */
.clearBoth:before, .nav-stly:before, .banner:before, .head-zone:before, .main:before, .aboutMe:before, .linkpage:before, .foot-page:before, .aboutMe-range:before, .clearBoth:after, .nav-stly:after, .banner:after, .head-zone:after, .main:after, .aboutMe:after, .linkpage:after, .foot-page:after, .aboutMe-range:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 38, ../sass/all.sass */
.vertical-align-style, .banner-style .unslider-arrow {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 43, ../sass/all.sass */
.margin-b, .banner, .head-zone, .main, .aboutMe, .linkpage {
  margin-bottom: 10vh;
}

/* line 61, ../sass/all.sass */
.gridStyle {
  width: 100%;
  padding: 0 10%;
}

/* line 64, ../sass/all.sass */
.nav-stly {
  position: relative;
  height: 60px;
  font-family: helvetica;
  background: #38a4ab;
}

/* line 71, ../sass/all.sass */
.banner {
  position: relative;
  max-width: 100%;
  max-height: 380px;
  font-family: helvetica;
}

/* line 78, ../sass/all.sass */
.head-zone {
  width: 100%;
  margin: 0 auto;
  height: 380px;
}

/* line 87, ../sass/all.sass */
.main {
  position: relative;
  font-family: helvetica;
}

/* line 92, ../sass/all.sass */
.aboutMe {
  font-family: helvetica;
  background: #38a4ab;
}

/* line 97, ../sass/all.sass */
.linkpage {
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: helvetica;
  background: white;
}

/* line 104, ../sass/all.sass */
.foot-page {
  height: 40px;
  font-family: helvetica;
  background: #242d3c;
}

/* line 113, ../sass/all.sass */
.nav-icon {
  position: relative;
  display: none;
}

/* line 116, ../sass/all.sass */
.logo {
  position: relative;
  float: left;
  display: block;
  font-size: 22pt;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}

/* line 124, ../sass/all.sass */
ul.navbar {
  float: right;
}
/* line 126, ../sass/all.sass */
ul.navbar li {
  float: left;
  font-size: 14pt;
}
/* line 129, ../sass/all.sass */
ul.navbar li a {
  display: block;
  padding: 0 1em;
  line-height: 60px;
}
/* line 133, ../sass/all.sass */
ul.navbar li a:hover {
  color: saddlebrown;
  background-color: bisque;
}

/* line 149, ../sass/all.sass */
.banner-style .unslider-arrow {
  z-index: 999;
  position: absolute;
  width: 120px;
  height: 120px;
  background: #38a4ab;
  opacity: 0.3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 159, ../sass/all.sass */
.banner-style .unslider-arrow:hover {
  opacity: 0.8;
}
/* line 161, ../sass/all.sass */
.banner-style .prev,
.banner-style .next {
  font-size: 100pt;
  font-weight: 700;
  line-height: 125px;
  text-align: center;
}
/* line 167, ../sass/all.sass */
.banner-style .prev {
  left: 1%;
}
/* line 169, ../sass/all.sass */
.banner-style .next {
  right: 1%;
}
/* line 171, ../sass/all.sass */
.banner-style .banner-img {
  position: relative;
  float: left;
  background: steelblue;
}
/* line 175, ../sass/all.sass */
.banner-style h1 {
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 0.5em;
  color: white;
  font-size: 40pt;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}
/* line 187, ../sass/all.sass */
.banner-style h1:hover {
  opacity: 1;
}

/* line 190, ../sass/all.sass */
.product-Msize, .linkpage-size {
  float: left;
  padding: 15px;
}

/* line 193, ../sass/all.sass */
.product-Msize, .linkpage-size {
  width: 25%;
}

/* line 195, ../sass/all.sass */
.product-style {
  padding: 1em;
  border: 1px solid #dddddd;
  background: #fafafa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 200, ../sass/all.sass */
.product-style:hover {
  background: #ddeeee;
}
/* line 202, ../sass/all.sass */
.product-style .product-img {
  width: 100%;
  max-height: 180px;
  background: slategrey;
  overflow: hidden;
}
/* line 207, ../sass/all.sass */
.product-style .product-img img {
  width: 100%;
}
/* line 209, ../sass/all.sass */
.product-style .product-title {
  font-size: 1.2em;
  line-height: 3em;
  font-weight: 700;
  color: #38a4ab;
}
/* line 214, ../sass/all.sass */
.product-style .product-tag {
  font-size: 10pt;
  line-height: 3em;
  padding: 5px;
  background: #38a4ab;
}
/* line 219, ../sass/all.sass */
.product-style p {
  font-size: 11pt;
}

/* line 223, ../sass/all.sass */
.aboutMe-range {
  width: 1200px;
  margin: 0 auto;
  padding: 2em;
}
/* line 228, ../sass/all.sass */
.aboutMe-range .ab-myphoto {
  float: left;
  width: 30%;
  padding: 2em;
  text-align: center;
}
/* line 233, ../sass/all.sass */
.aboutMe-range .ab-myphoto img {
  max-width: 200px;
  height: auto;
}
/* line 236, ../sass/all.sass */
.aboutMe-range .ab-title {
  color: white;
  font-size: 32pt;
  margin-bottom: 0.5em;
}
/* line 240, ../sass/all.sass */
.aboutMe-range .ab-txt {
  float: right;
  width: 70%;
  padding: 2em;
  text-align: left;
}
/* line 245, ../sass/all.sass */
.aboutMe-range .ab-txt p {
  color: white;
  font-size: 14pt;
}

/* line 251, ../sass/all.sass */
.linkpage-size .product-tag {
  background-color: steelblue;
}

/* line 255, ../sass/all.sass */
.foot-tetx {
  margin: 0 auto;
}
/* line 257, ../sass/all.sass */
.foot-tetx p {
  color: #38a4ab;
  font-size: 11pt;
  text-align: center;
  line-height: 40px;
}
