.icon
	display: inline-block
	width: 1em
	height: 1em
	fill: currentColor
.icon-keyboard
	width: 1.125em
.icon-youtube4
	width: 2.5087890625em
.icon-radius
	width: 4em
	height: 4em
	margin: 2em
.icon-co-white
	color: #fff