<div class="aboutMe-range">
	<div class="ab-myphoto"><img src="images/Kuma2.png" alt="myphoto"></div>
	<div class="ab-txt">
		<h1 class="ab-title">About Me</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aspernatur officia amet dignissimos soluta in fuga, delectus obcaecati distinctio laudantium deserunt, nesciunt alias culpa quod rem doloremque iusto officiis sed.</p>
	</div>
</div>

