<div class="aboutMe-range">
	<h1 class="ab-title">About Me</h1>
	<div class="ab-myphoto"><img src="images/Kuma2.png" alt="myphoto"></div>
	<div class="ab-txt">
		<!-- <h2 class="ab-title">About Me</h2> -->
		<p>本身為多媒體設計師，接觸前端領域之後，便開始專注於各種前端技術學習，主要技術為html、Css(RWD)、JQ，目前也接洽網頁設計相關的專案，並且應用一些framework在專案執行上，例如：bootstrap、susy2...或是視覺圖表化的c3.js、chart.js</br><strong class="strong-t">網站目前持續更新中</strong></p>
		<p>個人技術學習紀錄網誌觀看相關訊息<a class="a-link" href="http://www.kumakobo.com/" alt="庫馬亂扣汀">庫馬亂扣汀</a></p>
		<p>多媒體設計相關作品<a class="a-link" href="http://www.kumakobo.com/kumawu/" alt="庫馬亂扣汀">Kuma Kobo</a></p>
	</div>
</div>

