<div class="aboutMe-range">
	<div class="ab-myphoto"><img src="images/Kuma2.png" alt="myphoto"></div>
	<div class="ab-txt">
		<h1 class="ab-title">About Me</h1>
		<p>目前網站持續更新中，預計於<strong class="strong-t">2/20上線</strong>，敬請期待。</p>
		<p>歡迎至個人技術學習紀錄網誌觀看相關訊息<a class="a-link" href="http://www.kumakobo.com/" alt="庫馬亂扣汀">庫馬亂扣汀</a></p>
	</div>
</div>

