<a href="#" class="unslider-arrow prev"><</a>
<a href="#" class="unslider-arrow next">></a>
<ul>
    <li class="banner-img">
    	<h1>this is a pic.</h1>
    	<img src="images/banner_01.jpg" alt="b01">
    </li>
    <li class="banner-img">
    	<h1>this is a pic.</h1>
    	<img class="vertical-align-style" src="images/banner_02.jpg" alt="b02">
    </li>
    <li class="banner-img">
    	<h1>this is a pic.</h1>
    	<img class="vertical-align-style" src="images/banner_03.jpg" alt="b03">
    </li>
</ul>