<div class="contactMe-range">
	<div class="conta-form">
		<div class="form-type">
			<input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name">
		</div>
		<div class="form-type">
			<input type="email" data-validation-type="email" id="form-email" placeholder="Email Address" name="email">
		</div>
		<div class="form-type">
			<textarea placeholder="Address Message..." name="message" id="message"></textarea>
		</div>
    </div>
</div>

