<div class="contactMe-range">
	<h1>Contact</h1>
	<div class="conta-form">
		<div class="form-type">
			<input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name">
		</div>
		<div class="form-type">
			<input type="email" data-validation-type="email" id="form-email" placeholder="Email Address" name="email">
		</div>
		<div class="form-type">
			<textarea placeholder="Address Message..." name="message" id="message"></textarea>
		</div>
		<div class="form-type">
			<button type="submit" id="email_submit">Submit</button>
		</div>
    </div>
    <div class="conta-adress">
    	<img src="images/Kuma2.png" class="myphoto" alt="myphoto">
    	<h2>Kuma Wu</h2>
    	<p>
    	<svg class="icon">
    		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use>
    	</svg>
    	Mail :<a href="mailto:w87502047@gmail.com">w87502047@gmail.com</a></p>
    </div>
</div>

