<div class="slideshow">
	<div class="slide-img  slide-right">
		<img src="images/slide_01.png" alt="p01">
	</div>
	<div class="slide-img  slide-left">
		<img src="images/slide_02.png" alt="p02">
	</div>
	<div class="slide-img  slide-right">
		<img src="images/slide_03.png" alt="p03">
	</div>
</div>
<div class="slideshow-mobile">
</div>
<script type="text/javascript">
	$(function(){
		var $slideshow = $('.slideshow'),
		    $slides = $slideshow.find('.slide-img'),
		    $counter = $slides.length, //求目前所有 slides 數量
		    nowPic = 0; //起始標號

		$slides.eq(nowPic).fadeIn('slow');
		setInterval( slideGo , 4500 );
		function slideGo(){
			var nextPic = ( nowPic +1 ) % $counter; //用求餘數來計算下一張標號
			$slides.eq(nowPic).fadeOut('fast');
			$slides.eq(nextPic).fadeIn('slow');
			nowPic = nextPic;
		};
	});
</script>