<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title><%= @title ? @title : "HTML erb + susy2 + git 練習" %></title>
	<link rel="stylesheet" href="css/all.css">
</head>
<body>
	<nav class="nav-stly  gridStyle">
		<div class="nav-icon">>&#9776;</div>
		<div class="logo"><a href="#">Kumakobo</a></div>
		<ul class="navbar">
			<li><a href="about.html">about</a></li>
			<li><a href="#">Product</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</nav>
	<header class="head-zone">
		<%= render :partial => "head_one" %>
	</header>
	<div class="main  gridStyle">
		<%= yield %>
	</div>
	<footer class="foot-page  gridStyle">
		<div class="foot-tetx">
			<p>Designed by Kumaheika</p>
		</div>
	</footer>
</body>
</html>