<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
	</div>
</a>
</div><!-- product-link -->