<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/graphic/g_img_01s.png" alt="百世文教企業logo設計">
			<div class="product-article">
			<h2 class="product-title">百世文教企業logo設計</h2>
			<span class="product-tag">Illustrator</span>
			<p>公司logo設計提案</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="http://www.kumakobo.com/kumawu/swf/E_Card/card_2013.swf">
	<div class="product-style">
		<img class="product-img" src="images/graphic/g_img_02s.png" alt="合智工業股份有限公司2014年賀卡">
		<div class="product-article">
			<h2 class="product-title">合智工業 2014 年賀卡</h2>
			<span class="product-tag">Illustrator</span>
			<span class="product-tag">flash</span>
			<p>由合作方公司提供相關資訊，負責部分從視覺、動畫以及  as3 </p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/graphic/g_img_03s.png" alt="美體塑身衣">
		<div class="product-article">
			<h2 class="product-title">美體塑身衣</h2>
			<span class="product-tag">Illustrator</span>
			<span class="product-tag">flash</span>
			<p>合作方公司已不可考，繪製到 as3 獨立一人完成</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/graphic/g_img_04s.png" alt="多樂爆米花">
		<div class="product-article">
			<h2 class="product-title">多樂爆米花網站</h2>
			<span class="product-tag">Photoshop</span>
			<span class="product-tag">Illustrator</span>
			<span class="product-tag">flash</span>
			<p>該公司好像已經....繪製到 as3 獨立一人完成</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="http://www.kumakobo.com/kumawu/swf/E_Card/e_card_01.swf">
	<div class="product-style">
		<img class="product-img" src="images/graphic/g_img_05s.png" alt="華通COMPEQ新年賀卡">
		<div class="product-article">
			<h2 class="product-title">華通COMPEQ新年賀卡</h2>
			<span class="product-tag">Illustrator</span>
			<span class="product-tag">flash</span>
			<p>新年賀卡，獨立完成</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="http://www.kumakobo.com/kumawu/swf/E_Card/compeq_card.swf">
	<div class="product-style">
		<img class="product-img" src="images/graphic/g_img_06s.png" alt="華通COMPEQ中國年賀卡">
		<div class="product-article">
			<h2 class="product-title">華通COMPEQ中國年賀卡</h2>
			<span class="product-tag">Illustrator</span>
			<span class="product-tag">flash</span>
			<p>中國年賀卡，獨立完成</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="http://www.kumakobo.com/kumawu/swf/E_Card/Card.swf">
	<div class="product-style">
		<img class="product-img" src="images/graphic/g_img_07s.png" alt="ITE聯陽半導體新年賀卡">
		<div class="product-article">
			<h2 class="product-title">ITE聯陽半導體新年賀卡</h2>
			<span class="product-tag">Illustrator</span>
			<span class="product-tag">flash</span>
			<p>新年賀卡，獨立完成</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="linkpage-size">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="<%= lorem_image("320x180") %>" alt="待更新"/>
		<div class="product-article">
			<h2 class="product-title">待更新</h2>
			<span class="product-tag">Web project</span>
			<p>Lorem ipsum dolor sit amet, ......</p>
		</div>
	</div>
</a>
</div><!-- product-link -->