<div class="w-middle">
<a class="product-link" href="#">
	<div class="product-group  product-style">
		<div class="product-img">
			<img src="images/title_img.png" alt="pr-img">
		</div>
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum aliquam nostrum, ipsa mollitia hic ea corporis quas esse illo recusandae perferendis magni distinctio vel dignissimos itaque dolores laboriosam.</p>
	</div>
</a><!-- product-link -->
</div>
<div class="w-large">
<a class="product-link" href="#">
	<div class="product-group  product-style">
		<div class="product-img">
			<img src="images/title_img.png" alt="pr-img">
		</div>
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum aliquam nostrum, ipsa mollitia hic ea corporis quas esse illo recusandae perferendis magni distinctio vel dignissimos itaque dolores laboriosam.</p>
	</div>
</a><!-- product-link -->
</div>
<div class="w-middle">
<a class="product-link" href="#">
	<div class="product-group  product-style">
		<div class="product-img">
			<img src="images/title_img.png" alt="pr-img">
		</div>
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum aliquam nostrum, ipsa mollitia hic ea corporis quas esse illo recusandae perferendis magni distinctio vel dignissimos itaque dolores laboriosam.</p>
	</div>
</a><!-- product-link -->
</div>
