<!-- 假資料產生範例 -->
<!-- <h2><%= lorem_words(4+rand(4)) %></h2>
<p><img src="<%= lorem_image("640x360") %>" /></p>
<p><%= lorem_paragraph %></p> -->

<!-- <% 5.times do %><!-- 乘以5次 -->
<!-- <div class="product-Msize">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">Ajax</span>
		<span class="product-tag">Css</span>
		<span class="product-tag">JQ</span>
		<span class="product-tag">Node</span>
		<span class="product-tag">Angular</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum aliquam nostrum, ipsa mollitia hic ea corporis quas esse illo recusandae perferendis magni distinctio vel dignissimos itaque dolores laboriosam.</p>
	</div>
</a>
</div><!-- product-link -->
<!-- <% end %><!-- 乘以5次 -->

<div class="product-Msize">
<a href="http://www.dpp.org.tw/928picnic/" alt="民進黨創黨28th">
	<div class="product-style">
		<img class="product-img" src="images/website/g_img_01s.png" alt="民進黨創黨28th">
		<div class="product-article">
			<h2 class="product-title">民進黨創黨28th - 野餐日</h2>
			<span class="product-tag">JQ</span>
			<span class="product-tag">Colorbox</span>
			<p>與另一位設計師共同合作，負責該網站前端部分(html+css+jq)，主要將對方提供 PSD 切版輸出網頁，並加入一些JQ plug-in(colorbox)來增強網頁互動效果。</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="product-Msize">
<a href="http://www.bigpineapple88.com/" alt="一芝紅大旺來烘焙坊">
	<div class="product-style">
		<img class="product-img" src="images/website/g_img_02s.png" alt="一芝紅大旺來烘焙坊">
		<div class="product-article">
			<h2 class="product-title">一芝紅大旺來烘焙坊</h2>
			<span class="product-tag">RWD</span>
			<span class="product-tag">JQ</span>
			<span class="product-tag">Colorbox</span>
			<p>由合作方提供網站內容，負責部分從Wireframe > Mockup > 網站成品，沒有另外使用現有framework架構，完全hand code(除colorbox)，並另有製作RWD，目前該網站由合作公司自行維護中。</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="product-Msize">
<a href="https://www.ickd.org.tw" alt="新慢性腎臟病iCKD心關懷科技網">
	<div class="product-style">
		<img class="product-img" src="images/website/g_img_03s.png" alt="新慢性腎臟病iCKD心關懷科技網">
		<div class="product-article">
			<h2 class="product-title">新慢性腎臟病iCKD心關懷科技網</h2>
			<span class="product-tag">RWD</span>
			<span class="product-tag">JQ</span>
			<p>由計畫人員共同合作，負責部分從Wireframe > Mockup > 網站成品，為早期製作網站，另有製作RWD，後端部分由國家高速網路中心負責，目前該網站由國家高速網路中心維護中。</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
<div class="product-Msize">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="<%= lorem_image("320x180") %>" alt="待更新"/>
		<div class="product-article">
			<h2 class="product-title">待更新</h2>
			<span class="product-tag">Web project</span>
			<p>等待更新, ......</p>
		</div>
	</div>
</a>
</div><!-- product-link -->
