<div class="product-Msize">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">Ajax</span>
		<span class="product-tag">Css</span>
		<span class="product-tag">JQ</span>
		<span class="product-tag">Node</span>
		<span class="product-tag">Angular</span>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum aliquam nostrum, ipsa mollitia hic ea corporis quas esse illo recusandae perferendis magni distinctio vel dignissimos itaque dolores laboriosam.</p>
	</div>
</a>
</div><!-- product-link -->
<div class="product-Msize">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum aliquam nostrum, ipsa mollitia hic ea corporis quas esse illo recusandae perferendis magni distinctio vel dignissimos itaque dolores laboriosam.</p>
	</div>
</a>
</div><!-- product-link -->
<div class="product-Msize">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum aliquam nostrum, ipsa mollitia hic ea corporis quas esse illo recusandae perferendis magni distinctio vel dignissimos itaque dolores laboriosam.</p>
	</div>
</a>
</div><!-- product-link -->
<div class="product-Msize">
<a href="#">
	<div class="product-style">
		<img class="product-img" src="images/title_img.png" alt="pr-img">
		<h2 class="product-title">Lorem ipsum dolor sit amet,</h2>
		<span class="product-tag">flash</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum aliquam nostrum, ipsa mollitia hic ea corporis quas esse illo recusandae perferendis magni distinctio vel dignissimos itaque dolores laboriosam.</p>
	</div>
</a>
</div><!-- product-link -->